<thead>
<tr>
    <th class="col-md-1">#</th>
    <th class="col-md-2">名称</th>
    <th class="col-md-3">AccessKey</th>
    <th class="col-md-3">SecretKey</th>
    <th class="col-md-1">启用</th>
    <th class="col-md-1">&nbsp</th>
</tr>
</thead>
<tbody id="tbody-data">

{% verbatim %}
<script type="text/ng-template" id="entry_renderer">
    <td ng-bind="$index+1"></td>
    <td><a href="/dashboard/config/client_endpoint/?client_id={{ entry.id }}" ng-bind="entry.name"></a></td>
    <td class="break-word" ng-bind="entry.access_key"></td>
    <td class="break-word" ng-bind="entry.secret_key"></td>
    <td>
        <div class="ui toggle checkbox">
            <input type="checkbox" id="entry-{{$index}}-cb" ng-model="entry.enable"
                   ng-click="config.updateEnableState($index)">
            <label for="entry-{{$index}}-cb"></label>
        </div>
    </td>
    <td class="nowrap">
        <a href="javascript:void 0;" ng-click="config.showEditDialog('update', $index)">编辑</a>&nbsp;
        <a href="javascript:void 0;" style="color: #d9534f" ng-click="config.deleteEntry($index)">删除</a>
    </td>
</script>

<tr ng-repeat="entry in config.entries | filter:query" ng-include="'entry_renderer'"></tr>
{% endverbatim %}
</tbody>
