{% verbatim %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
            <h4 class="modal-title">
                <span v-if="editDialogMode=='create'"><span class="glyphicon glyphicon-plus"></span> 添加应用</span>
                <span v-else><span class="glyphicon glyphicon-edit"></span> 编辑应用</span>
            </h4>
        </div>
        <div class="modal-body">
            <form role="form" method="post" id="edit-form">
                <div class="form-group" :class="{'has-error': formData.name.has_error}">
                    <label class="control-label input-required" for="modal-form-name">名称</label>
                    <label v-show="formData.name.has_error" class="control-label"
                           v-text="formData.name.errors"></label>
                    <input id="modal-form-name" type="text" class="form-control"
                           placeholder="应用名称，可以输入中文"
                           v-model="formData.name.data">
                </div>

                <div class="form-group" :class="{'has-error': formData.app_id.has_error}">
                    <label class="control-label input-required" for="modal-form-app-id">AppId</label>
                    <label v-show="formData.app_id.has_error" class="control-label"
                           v-text="formData.app_id.errors"></label>

                    <div class="input-group">
                        <input id="modal-form-app-id" type="text" class="form-control"
                               placeholder="应用的唯一标识"
                               required
                               v-model="formData.app_id.data">

                        <div class="input-group-btn">
                            <span type="button" class="btn btn-default"
                                    @click="randomKey(formData.app_id, 'app_id')">随机生成
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" :class="{'has-error': formData.secret_key.has_error}">
                    <label class="control-label input-required" for="modal-form-secret-key">SecretKey</label>
                    <label v-show="formData.secret_key.has_error" class="control-label"
                           v-text="formData.secret_key.errors"></label>

                    <div class="input-group">
                        <input id="modal-form-secret-key" type="text" class="form-control"
                               placeholder=""
                               required
                               v-model="formData.secret_key.data">

                        <div class="input-group-btn">
                            <span type="button" class="btn btn-default"
                                    @click="randomKey(formData.secret_key)">随机生成
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" :class="{'has-error': formData.login_auth_url.has_error}">
                    <label class="control-label" for="modal-form-login-auth-url">登录验证 URL</label>
                    <label v-show="formData.login_auth_url.has_error" class="control-label"
                           v-text="formData.login_auth_url.errors"></label>
                    <input id="modal-form-login-auth-url" type="text" class="form-control"
                           placeholder="使用该 URL 验证用户名和密码"
                           v-model="formData.login_auth_url.data">
                </div>

                <div class="form-group" :class="{'has-error': formData.sms_login_auth_url.has_error}">
                    <label class="control-label">短信登录验证 URL</label>
                    <label v-show="formData.sms_login_auth_url.has_error" class="control-label"
                           v-text="formData.sms_login_auth_url.errors"></label>
                    <input type="text" class="form-control"
                           placeholder="使用该 URL 验证短信登录"
                           v-model="formData.sms_login_auth_url.data">
                </div>

                <div class="form-group" :class="{'has-error': formData.change_password_url.has_error}">
                    <label class="control-label">修改密码 URL</label>
                    <label v-show="formData.change_password_url.has_error" class="control-label"
                           v-text="formData.change_password_url.errors"></label>
                    <input type="text" class="form-control"
                           placeholder="使用该 URL 修改密码"
                           v-model="formData.change_password_url.data">
                </div>

                <div class="form-group" :class="{'has-error': formData.sms_change_password_url.has_error}">
                    <label class="control-label">通过短信修改密码 URL</label>
                    <label v-show="formData.sms_change_password_url.has_error" class="control-label"
                           v-text="formData.sms_change_password_url.errors"></label>
                    <input type="text" class="form-control"
                           placeholder="使用该 URL 修改密码"
                           v-model="formData.sms_change_password_url.data">
                </div>
<!--
                <div class="form-group" :class="{'has-error': formData.set_password_url.has_error}">
                    <label class="control-label">设置密码 URL</label>
                    <label v-show="formData.set_password_url.has_error" class="control-label"
                           v-text="formData.set_password_url.errors"></label>
                    <input type="text" class="form-control"
                           placeholder="注册后设置密码，或者重置密码"
                           v-model="formData.set_password_url.data">
                </div>
-->
                <div class="form-group" :class="{'has-error': formData.access_token_ex.has_error}">
                    <label class="control-label" for="modal-form-access-token-ex">Access Token 的过期时间</label>
                    <label v-show="formData.access_token_ex.has_error" class="control-label"
                           v-text="formData.access_token_ex.errors"></label>

                    <div class="input-group">
                        <input id="modal-form-access-token-ex" type="text" class="form-control"
                               placeholder="Access Token 的过期时间"
                               v-model="formData.access_token_ex.data">
                        <span class="input-group-addon">秒</span>
                    </div>
                </div>

                <div class="form-group" :class="{'has-error': formData.refresh_token_ex.has_error}">
                    <label class="control-label" for="modal-form-refresh-token-ex">Refresh Token 的过期时间</label>
                    <label v-show="formData.refresh_token_ex.has_error" class="control-label"
                           v-text="formData.refresh_token_ex.errors"></label>

                    <div class="input-group">
                        <input id="modal-form-refresh-token-ex" type="text" class="form-control"
                               placeholder="Refresh Token 的过期时间"
                               v-model="formData.refresh_token_ex.data">
                        <span class="input-group-addon">秒</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="modal-form-enable" name="enable"
                               v-model="formData.enable.data">
                        <label for="modal-form-enable">启用</label>
                    </div>
                </div>

                <div class="form-group" :class="{'has-error': formData.memo.has_error}">
                    <label class="control-label">备注</label>
                    <label v-show="formData.memo.has_error" class="control-label"
                           v-text="formData.memo.errors"></label>
                    <textarea class="form-control"
                              placeholder="备注信息，可以为空"
                              v-model="formData.memo.data"
                              rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    v-if="editDialogMode == 'create'"
                    @click="saveContinue($event)"
                    data-loading-text="保存中..." autocomplete="off">保存并继续
            </button>
            <button type="button" class="btn btn-primary"
                    @click="save($event)"
                    data-loading-text="保存中..." autocomplete="off">保存
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
{% endverbatim %}