{% extends "accounts/login_base.html" %}
{% load staticfiles %}
{% block title %}{{ request.page_title }}{% endblock %}
{% block ng_app_config %}ng-app="app"{% endblock %}
{% block ng_app_body_scope %}ng-controller="appCtrl"{% endblock %}
{% block style_block %}
    <style>
        body {
            background: rgba(41, 142, 234, .9);
        }

        .logo-text {
            color: #fff;
            font-size: 25px;
            margin-left: 5px;
            vertical-align: middle;
            position: relative;
            top: 10px;
        }
    </style>
{% endblock %}

{% block head_script %}
{% endblock %}

{% block main_content %}
    <div class="login-wrapper">

        <div style="margin-bottom: 20px; text-align: center">
            <img src="/static/whale.png" alt="OxygenProxy" style="height: 65px">
            <span class="logo-text">API Gateway</span>
        </div>

        <div class="login-area">
            <form method="post" id="form" role="form" data-toggle="validator">
                <div class="login-body">

                    <div class="form-group">
                        <label class="control-label" for="form-email">邮箱</label>
                        <span class="help-block with-errors inline-block"></span>

                        <div>
                            <input id="form-email" name="email" type="email"
                                   data-error="请输入正确的邮箱" required
                                   ng-model="model.email"
                                   placeholder=""
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="form-password">密码</label>
                        <span class="help-block with-errors inline-block"></span>

                        <input id="form-password" name="password" type="password"
                               ng-model="model.password"
                               data-error="这是必填项" required
                               placeholder=""
                               class="form-control">
                    </div>

                    <div class="checkbox col-sm-7 login-left">
                        <label>
                            <input name="remember_me" type="checkbox" ng-model="model.remember_me">
                            记住我
                        </label>
                    </div>

                    <div class="col-sm-5 login-right">
                        <a href="/accounts/password/reset_request/">忘记密码</a>
                    </div>

                </div>

                <div class="login-footer">
                    <div class="form-group">
                        <button id="btn-submit" class="btn btn-primary form-control"
                                data-loading-text="登录中..." autocomplete="off">登录
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/validator.min.js"></script>
    <script src="/static/vendors/sha1.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/accounts/login.js"></script>
{% endblock %}