{% extends "base_basic.html" %}
{% block title %}{{ request.page_title }}{% endblock %}

{% block style_block %}

{% endblock %}

{% block head_script %}
{% endblock %}

{% block main_content %}
    <div class="main-content" id="app">
        <div class="page-header">
            <h1>{{ request.page_title }}</h1>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <form data-toggle="validator" v-show="!success"
                  class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="control-label">邮箱</label>
                    <span class="help-block with-errors inline-block"></span>

                    <div>
                        <input name="email" type="email"
                               data-error="请输入正确的邮箱" required
                               placeholder="请填写登录邮箱"
                               v-model="formData.email"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <span class="btn btn-primary form-control" @click="doSubmit">提交</span>
                </div>
            </form>

            <div class="alert alert-success" role="alert" v-show="success" style="display: none"
                 v-text="'密码重置已受理，请前往邮箱获取密码重置链接' + formData.email"></div>
        </div>
    </div>

{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/validator.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/accounts/common.js"></script>
    <script src="/static/js/accounts/password_reset_request.js"></script>
{% endblock %}