{% extends "base_basic.html" %}
{% load staticfiles %}
{% block title %}{{ request.page_title }}{% endblock %}

{% block style_block %}

{% endblock %}

{% block head_script %}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="page-header">
            <h1>{{ request.page_title }}</h1>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            {% if not submit_result %}
                {#action为空，默认提交到本页#}
                <form action="/accounts/password/reset_request/"
                      data-toggle="validator"
                      class="form-horizontal" role="form" method="post">
                    {% if form.email.errors %}
                        <div class="form-group alert alert-warning" role="alert">
                            {% for error in form.email.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <label class="control-label">邮箱</label>
                        <span class="help-block with-errors inline-block"></span>

                        <div>
                            <input name="email" type="email"
                                   data-error="请输入正确的邮箱" required
                                   placeholder="请填写登录邮箱"
                                   class="form-control"
                                   value="{{ request.POST.email }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">提交</button>
                    </div>
                </form>

            {% else %}
                <div class="alert alert-success" role="alert">密码重置已受理，请前往邮箱获取密码重置链接 {{ request.POST.email }}</div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/validator.min.js"></script>
{% endblock %}