{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ request.page_title }}{% endblock %}
{% block ng_app_config %}ng-app="app"{% endblock %}
{% block ng_app_body_scope %}ng-controller="appCtrl"{% endblock %}
{% block style_block %}

{% endblock %}

{% block head_script %}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="page-header">
            <h1>{{ request.page_title }}</h1>
        </div>

        <form class="form-horizontal"
              data-toggle="validator"
              role="form" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>

                <div class="col-sm-6 col-md-4">
                    <p class="form-control-static">{{ user.email }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>

                <div class="col-sm-6 col-md-4">
                    <p class="form-control-static">{{ user.name }}</p>
                </div>
            </div>
            {% verbatim %}
            <div class="form-group" ng-if="!updateSuccess">
                <label class="col-sm-2 control-label">旧密码</label>

                <div class="col-sm-6 col-md-4">
                    <input name="old_password" type="password"
                           placeholder="请输入旧密码"
                           ng-model="model.old_password"
                           required
                           class="form-control">
                </div>
                <span class="col-sm-3 help-block with-errors"></span>
            </div>

            <div class="form-group" ng-if="!updateSuccess">
                <label class="col-sm-2 control-label">新密码</label>

                <div class="col-sm-6 col-md-4">
                    <input name="new_password1" type="password"
                           id="new_password1"
                           maxlength="18"
                           data-minlength="6"
                           data-maxlength="18"
                           required
                           ng-model="model.new_password"
                           data-error="请输入6~18位密码"
                           class="form-control" placeholder="请输入6~18位密码">
                </div>
                <span class="col-sm-3 help-block with-errors"></span>
            </div>

            <div class="form-group" ng-if="!updateSuccess">
                <label class="col-sm-2 control-label">确认密码</label>

                <div class="col-sm-6 col-md-4">
                    <input name="new_password2" type="password"
                           required
                           data-match="#new_password1"
                           data-match-error="密码不匹配"
                           placeholder="请再次输入新密码"
                           class="form-control">
                </div>

                <span class="col-sm-3 help-block with-errors"></span>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6 col-md-4">
                    <script type="text/ng-template" id="success_tip.html">
                        <div ng-show="updateSuccess" class="alert alert-success" role="alert">
                            <p>密码修改成功，请牢记密码，并<a href="/accounts/logout/">重新登录</a></p>
                        </div>
                    </script>
                    <div ng-include="'success_tip.html'"></div>

                    <button ng-if="!updateSuccess" type="submit" id="btn-submit" data-loading-text="修改中..."
                            class="btn btn-primary">修改密码
                    </button>
                </div>
            </div>
            {% endverbatim %}
        </form>
    </div>

{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/validator.min.js"></script>
    <script src="/static/vendors/sha.min.js"></script>
    <script src="/static/js/accounts/profile.js"></script>
{% endblock %}