{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ request.page_title }}{% endblock %}

{% block style_block %}
    <link href="/static/vendors/datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/vendors/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
{% endblock %}

{% block head_script %}
{% endblock %}

{% block main_content %}
    <div class="main-content" id="app">
        <div class="page-header">
            <div class="clearfix">
                <div class="float-left">
                    <h1 style="display: inline-block; margin-right: 10px">{{ request.page_title }}</h1>
                </div>
                {% verbatim %}
                <div class="float-right">
                    <div style="display: inline">
                        <button class="btn btn-default" role="button" data-toggle="collapse"
                                data-target="#collapse-search"
                                aria-expanded="false" aria-controls="collapse-search">
                            <span class="glyphicon glyphicon-filter"></span> 高级搜索
                        </button>
                    </div>
                    <div style="display: inline">
                        <div class="icon-addon addon-md right-search-box">
                            <input type="text" placeholder="搜索过滤" class="form-control" v-model="query">
                            <label class="glyphicon glyphicon-search"></label>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
            <div class="collapse" id="collapse-search">
                <div class="well" style="margin-top: 10px;margin-bottom: 10px;">
                    {% verbatim %}
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="date-begin-time" class="col-xs-3 control-label">开始时间</label>

                            <div class="col-xs-9">
                                <div class="input-group date" id="date-begin-time"
                                     data-toggle="tooltip" data-placement="top" title="选择开始时间">
                                    <input size="16" class="form-control" v-model="beginTime"
                                           type="text" value="" readonly>
                                    <span class="input-group-addon" style="border-left: 0;">
                                         <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="date-end-time" class="col-xs-3 control-label">结束时间</label>

                            <div class="col-xs-9">
                                <div class="input-group date" id="date-end-time"
                                     data-toggle="tooltip" data-placement="top" title="选择结束时间">
                                    <input size="16" class="form-control" v-model="endTime"
                                           type="text" value="" readonly>

                                    <div class="input-group-addon" style="border-left: 0;">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </div>
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="select-client" class="col-xs-3 control-label">应用</label>

                            <div class="col-xs-9">
                                <select id="select-client" class="selectpicker" multiple
                                        data-live-search="true"
                                        data-selected-text-format="count>3" data-width="100%"
                                        v-model="selectedClients">
                                    <!--
                                    <option value="-1">所有应用</option>
                                    <option data-divider="true"></option>-->
                                    <option v-for="u in clientOptions" track-by="$index"
                                            :value="u.id" v-text="u.name"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="select-endpoint" class="col-xs-3 control-label">API 端点</label>

                            <div class="col-xs-9">
                                <select id="select-endpoint" class="selectpicker" multiple
                                        data-selected-text-format="count>3" data-width="100%"
                                        data-live-search="true"
                                        v-model="selectedEndpoints">
                                    <!--
                                    <option value="-1">所有 Endpoint</option>
                                    <option data-divider="true"></option>-->
                                    <option v-for="u in endpointOptions"
                                            track-by="$index" :value="u.id"
                                            v-text="u.name + '/' + u.version"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="select-access-results" class="col-xs-3 control-label">结果</label>

                            <div class="col-xs-9">
                                <select id="select-access-results" class="selectpicker" multiple
                                        data-live-search="true"
                                        data-selected-text-format="count>2" data-width="100%"
                                        v-model="selectedResults">
                                    <option value="200">200 成功</option>
                                    <option value="400">400 请求数据不完整</option>
                                    <option value="401">401 登录验证失败</option>
                                    <option value="403">403 HMAC 鉴权失败</option>
                                    <option value="500">500 服务端错误</option>
                                    <option value="503">503 Endpoint 服务不可用</option>
                                    <option value="510">510 Client 配置有误</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="search-uri" class="col-xs-3 control-label">URI</label>

                            <div class="col-xs-9">
                                <input type="text" v-model="uri" class="form-control" id="search-uri"
                                       placeholder="匹配请求的 URI 是否存在查找内容">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="search-status" class="col-xs-3 control-label">状态码</label>

                            <div class="col-xs-9">
                                <input type="text" v-model="status" class="form-control" id="search-status"
                                       placeholder="多个状态码使用逗号隔开">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="search-ip" class="col-xs-3 control-label">IP</label>

                            <div class="col-xs-9">
                                <input type="text" v-model="ip" class="form-control" id="search-ip"
                                       placeholder="多个 IP 使用逗号隔开">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="search-elapsed" class="col-xs-3 control-label">耗时</label>

                            <div class="col-xs-9">
                                <div class="input-group">
                                    <input type="number" v-model="elapsedMin" class="form-control" placeholder="最小值">
                                    <span class="input-group-addon" style="border-left: 0;border-right: 0;">~</span>
                                    <input type="number" v-model="elapsedMax" class="form-control" placeholder="最大值">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div style="text-align: right;padding-right: 15px;">
                                <button class="btn btn-primary" role="button"
                                        @click="search()">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div>
                        </div>

                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>

        {% verbatim %}

        <!--
        <div class="loading-spinner" v-show="!entriesReady">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
-->

        <div class="table-responsive">
            <table class="table table-hover table-striped" id="table-data">
                <thead>
                <tr>
                    <th class="">#</th>
                    <th class="col-md-1">应用</th>
                    <th class="col-md-5">Request URI</th>
                    <th class="col-md-1">IP</th>
                    <th class="col-md-2">时间</th>
                    <th class="col-md-1">耗时</th>
                    <th class="col-md-1">状态码 / 结果</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody id="tbody-data">
                <tr v-for="entry in entries | filterBy query | orderBy 'timestamp' -1" track-by="$index"
                    @dblclick="showDetail(entry)">
                    <td v-text="this.pageIndexOffset + $index + 1"></td>
                    <td class="break-word" v-text="entry.client.name"></td>
                    <!--<td class="break-word" v-text="entry.endpoint.name + '/' + entry.endpoint.version"></td>-->
                    <td class="break-word" v-text="entry.request.method + ' ' + entry.request.uri"></td>
                    <td class="break-word" v-text="entry.ip"></td>
                    <td class="break-word" v-text="entry.accessed_at"></td>
                    <td>
                        <span :class="{
                              'label': entry.elapsed >= 3000,
                              'label-warning': entry.elapsed >= 3000,
                              'label-danger': entry.elapsed >= 10000 }">
                            {{ entry.elapsed + 'ms' }}
                        </span>
                    </td>
                    <td class="nowrap">
                        <span class="label"
                              :class="{
                              'label-success': entry.response.status >= 200 && entry.response.status < 400,
                              'label-warning': entry.response.status >= 400 && entry.response.status < 500,
                              'label-info': entry.response.status < 200,
                              'label-danger': entry.response.status >= 500 }"
                              v-text="entry.response.status">
                        </span>
                        <span style="margin-left: 5px;" class="label"
                              :class="{
                              'label-success': entry.result_code == 200,
                              'label-warning': entry.result_code == 503 || entry.result_code == 400,
                              'label-info':  entry.result_code == 401 || entry.result_code == 510,
                              'label-danger': entry.result_code == 403 || entry.result_code == 500 }">
                            {{ entry.result_code }}
                        </span>
                    </td>
                    <td class="nowrap">
                        <a href="javascript:void 0;" @click="showDetail(entry)">详情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="page-footer">
            <div class="text-center" style="display: none" v-show="totalPage>1">
                <div style="display: inline-block;margin-left: -190px;">
                    <ul class="pagination">
                        <li v-if="hasPreviousPage">
                            <a href="javascript:void 0;" @click="getPage(pageInfo.currentPage - 1)">&laquo;上一页</a></li>
                        <li v-else class="disabled"><a href="javascript:void 0;">&laquo; 上一页</a></li>
                        <li v-for="pi in pageList" track-by="$index"
                            :class="{'active': pageInfo.currentPage==pi}">
                            <a href="javascript:void 0;" v-if="pi!='...'" @click="getPage(pi)">
                                <span v-text="pi"></span>
                                <span v-if="pageInfo.currentPage==pi" class="sr-only">(current)</span></a>
                            <a href="javascript:void 0;" v-else>
                                <span v-text="pi"></span>
                                <span v-if="pageInfo.currentPage==pi" class="sr-only">(current)</span></a>
                        </li>
                        <li v-if="hasNextPage">
                            <a href="javascript:void 0;" @click="getPage(pageInfo.currentPage + 1)">下一页 &raquo;</a>
                        </li>
                        <li v-else class="disabled"><a href="#">下一页 &raquo;</a></li>
                    </ul>
                </div>

                <div style="display: inline-block; margin-top: 20px;margin-left: 10px;position: absolute;">
                    <input style="width:60px;display: inline-block;"
                           v-model="pageInfo.jumpPageId"
                           type="text" class="form-control" placeholder="页码">
                    <button style="display: inline-block;margin-top: -3px;" type="submit" class="btn btn-default"
                            @click="getPage(pageInfo.jumpPageId)">跳转
                    </button>
                    <span style="margin-left: 10px" v-text="'共' + pageInfo.totalNum + '项'"></span>
                </div>
            </div>
        </div>

        <div class="modal fade" id="detail-modal" role="dialog"
             data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">访问详情</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label>Request URI</label>
                                <pre v-text="detailData.entry.request.method + ' ' + detailData.entry.request.uri"></pre>
                            </div>
                            <div class="form-group">
                                <label for="detail-request-body">Forward URL</label>
                                <pre v-text="detailData.entry.request.method + ' ' + detailData.entry.forward_url"></pre>
                            </div>
                        </div>

                        <div id="detail-data-tabs" role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_request" aria-controls="tab_request"
                                       role="tab" data-toggle="tab">request
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab_response" aria-controls="tab_response"
                                       role="tab" data-toggle="tab">response
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" style="margin-top: 10px">
                                <div role="tabpanel" id="tab_request"
                                     class="tab-pane fade in active">
                                    <div>
                                        <div class="form-group">
                                            <label for="detail-request-headers">Headers</label>
                                            <textarea id="detail-request-headers" v-model="detailData.request.headers"
                                                      class="form-control" readonly rows="8"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="detail-request-body">Body / Content-Type: {{
                                                detailData.entry.request.content_type }}</label>

                                            <div class="alert alert-warning" role="alert"
                                                 v-show="!detailData.entry.request.text_type">
                                                不是文本类型，默认不显示
                                            </div>
                                            <textarea id="detail-request-body" v-model="detailData.request.body"
                                                      class="form-control" readonly rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab_response"
                                     class="tab-pane fade">
                                    <div>
                                        <div class="form-group">
                                            <label for="detail-response-headers">Headers</label>
                                            <textarea id="detail-response-headers" v-model="detailData.response.headers"
                                                      class="form-control" readonly rows="8"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="detail-response-body">Body / Content-Type: {{
                                                detailData.entry.response.content_type }}</label>

                                            <div class="alert alert-warning" role="alert"
                                                 v-show="!detailData.entry.response.text_type">
                                                不是文本类型，默认不显示
                                            </div>
                                            <textarea id="detail-response-body" v-model="detailData.response.body"
                                                      class="form-control" readonly rows="8"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        {% endverbatim %}
    </div>
{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/datetime-picker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/vendors/datetime-picker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/js/dashboard/access_log.js"></script>
{% endblock %}