{% extends "base.html" %}
{% block ng_app_config %}ng-app="app"{% endblock %}
{% block title %}{{ request.page_title }}{% endblock %}
{% block ng_app_body_scope %}ng-controller="appCtrl"{% endblock %}
{% block style_block %}
    <link href="/static/vendors/segment-ui/css/segment.ui.checkbox.min.css" rel="stylesheet">
    <link href="/static/vendors/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}

{% block head_script %}
    <script type="text/javascript">
        // 使用全局变量给 angularjs 传参数
        var ng_params = {
            "client_id": "{{ config_info.client_id }}",
            "client_name": "{{ config_info.client_name }}",
            "data_type": "{{ config_info.data_type }}",
            "display_breadcrumb": "{{ config_info.display_breadcrumb }}"
        };

        console.log(ng_params);
    </script>
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="page-header clearfix">
            <div class="float-left">
                <h1>{{ request.page_title }}</h1>
            </div>

            <div class="float-right">
                <div class="icon-addon addon-md right-search-box">
                    <input type="text" placeholder="搜索过滤" class="form-control" ng-model="query">
                    <label class="glyphicon glyphicon-search"></label>
                </div>

                <button type="button" class="btn btn-default"
                        ng-click="config.showEditDialog('create', null)">
                    <span class="glyphicon glyphicon-plus"></span> 添加
                </button>
            </div>
        </div>

        {% if config_info.display_breadcrumb %}
            <div>
                <ol class="breadcrumb">
                    {% if config_info.client_name %}
                        <li><a href="/dashboard/config/client/">应用</a></li>
                        <li class="active">{{ config_info.client_name }}</li>
                    {% else %}
                        <li class="active">应用</li>
                    {% endif %}
                </ol>
            </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-hover table-striped" id="table-data">
                {% if config_info.data_type == 'client' %}
                    {% include 'dashboard/partials/client.html' %}
                {% elif config_info.data_type == 'client_endpoint' %}
                    {% include 'dashboard/partials/client_endpoint.html' %}
                {% elif config_info.data_type == 'endpoint' %}
                    {% include 'dashboard/partials/endpoint.html' %}
                {% endif %}
            </table>
        </div>

        <div class="modal fade" id="edit-modal" role="dialog"
             data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                {% if config_info.data_type == 'client' %}
                    {% include 'dashboard/partials/modal_client.html' %}
                {% elif config_info.data_type == 'endpoint' %}
                    {% include 'dashboard/partials/modal_endpoint.html' %}
                {% elif config_info.data_type == 'client_endpoint' %}
                    {% include 'dashboard/partials/modal_client_endpoint.html' %}
                {% endif %}
            </div>
        </div>

        <div class="modal fade" id="delete-modal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="modal-title">删除操作不可恢复，是否确定删除<code> <span id="delete-modal-title"></span> </code>?
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger"
                                data-loading-text="删除中..." autocomplete="off"
                                ng-click="config.doDeleteEntry($event)">删除
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/partials/modal_import_config.html' %}

    </div>
{% endblock %}

{% block tail_script %}
    <script src="/static/vendors/segment-ui/js/segment.ui.checkbox.min.js"></script>
    <script src="/static/vendors/plupload/plupload.full.min.js"></script>
    <script src="/static/vendors/sha1.min.js"></script>
    <script src="/static/js/dashboard/config.js"></script>
{% endblock %}